<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="https://npmcdn.com/hack/dist/hack.css">
        <link type="text/css" rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        {% block meta %}
            <meta name="author" content="{{ AUTHOR }}" />
        {% endblock meta %}
    </head>
    <body class="hack">
        <div class="container">
            {% include 'includes/header.html' %}
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
